body {
  background-image: url("../img/wood_pattern.png");
}

h4 {
  font-family: "Eagle Lake";
  text-align: center;
}

.ruby, .php, .java, .css, .csharp, .notsure {
  display: none;
}

.jumbotron {
  background-color: #a1cea1;
  font-family:  "Gruppo";
  background-image: url("../img/upfeathers.png");
  text-align: center;

}

.form-group {
  font-family:  "Italiana";
}

.well {
  background-image: url("../img/tree_bark.png")
}

#center {
  display: block;
  text-align: center;
}

#well-img {
  width: 45%;
}

#modal-img {
  width: 45%;
  float: left;
}

#myBtn {
  margin: auto;
  display: block;
}

.modal-p {
  text-align: right;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
