body {
  background-image: url("../img/wood_pattern.png");
}

.ruby, .php, .java, .css, .csharp, .notsure {
  display: none;
}

.jumbotron {
  background-color: #a1cea1;
  font-family:  "Gruppo";
  background-image: url("../img/upfeathers.png");

}

.form-group {
  font-family:  "Italiana";
}


.well {
  background-image: url("../img/tree_bark.png")
}

#muted {
  width: 1%;
}

#center {
  display: block;
  text-align: center;
}

#well-img {
  width: 40%;
}
