.ruby, .php, .java, .css, .csharp, .notsure {
  display: none;
}

.jumbotron {
  background-color: #a1cea1;
  font-family:  "Gruppo";
  background-image: url("../img/upfeathers.png");

}

.form-group {
  font-family:  "Italiana";
}
body {
  background-image: url("../img/wood_pattern.png");
}

.well {

}

#left {
  align: left;
}

#well-img {
  width: 40%;
}
